
/*Header*/


#logo-img{

  /*background: url("../rsc/memo_cut992.png") no-repeat;
    background-attachment: fixed;
    background-position: center;
    position:absolute;
  width: 100%;
  height: 150px;
  margin: 10px 15px 0px 0px;
*/
src: url("../rsc/memo_cut992.png");
width: 992px;
/*height: 150px;*/

}

/*#logo-img.col-sm-12 {
background: url("../rsc/memo_cut768.png") no-repeat

}
#logo-img.col-xs12 {
background: url("../rsc/memo_cut400.png") no-repeat

}*/

header {

  /*border-bottom: solid;*/
  /*border-width: 0px;*/
  padding-top: 15px;
  margin-top: 15px;
   margin-bottom: 30px;
  /*padding-left: 2%;*/
  /*padding-left: 2%;*/
  /*padding-bottom: 5px;*/
  /*background-color: #dddddd;*/
  /*border-bottom:  2px;*/
   /*border-bottom-width: 2px;*/
  border-color: #1f1f1f;

}

.menu {
  margin:20px 0px 0px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
border-top: solid;
border-top-width: 2px;
border-bottom: solid;
border-bottom-width: 2px;

font-size: 1.3em;
line-height: 1.0;
text-align: center;
background-color: #dddddd;


}

a.mb:link,a.mb:visited {
    background-color: #dddddd;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

 a.mb:hover, a.mb:active {
    /*background-color: #f7921e;*/
    background-color: #666666;
    color: black;
}

/*Body*/


#googleMap {

  padding-left: 0%;
  padding-right: 0%;
  border:solid;
  height: 300px;
  /*margin-bottom: 0px;
  margin-top: 0px;*/
  /*width:300px;*/
}
.box>div>p{
  padding-top: 10px;
  padding-left: 10px;
  font-style: italic;
  color: black;
  font-size: 1.4em;
  /*background-color: gray;*/
  background-color: rgba(100,100,100,0.9);
}

.box>span {
  padding-top: 10px;
  padding-left: 10px;
  font-style: italic;
  color: black;
  font-size: 1.4em;
  background-color: rgba(100,100,100,0.8);
  /*opacity: 0.5;*/
}

.box {
  /*background-color: #298e3b;*/
  font-size: 0.8em;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-top: 30px;
  /*margin-left: 5px;
  margin-right: 5px;*/
  height:300px;
  background-origin: padding-box;
  background-clip: content-box;
  background-repeat: no-repeat;
}

#im1 {
    border: 2px solid black;
    height:300px;
    background: url(../rsc/k1.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
}

#im2 {
     border: 2px solid black;
    
    background: url(../rsc/k2.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    height:300px;
}

#im3 {
     border: 2px solid black;
    
    
    background: url(../rsc/k3.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    height:300px;
}

#im4 {
     border: 2px solid black;
    
    
    background: url(../rsc/k4.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    height:300px;
}
.box2 {
  /*background-color: #f7921e;*/
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px; 
  margin-bottom: 35px;
  /*margin-top: 30px;*/
  /*height:300px;
  width: 100% ;*/

}

body {
  background-color: #ffffff;
}

.panel2{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

#main_content {
background-color: #298e3b;
color: #000000;
  font-size: 1.6em;
  line-height: 1.0;
  padding-top: 20px;
  padding-bottom: 20px;



}



/*f7921e*/
/*f79220*/
/*298e3b*/



/*Footer*/
.panel-footer {
  padding-top: 15px;
  margin-top: 0px;
  /*padding-left: 2%;*/
  /*padding-left: 2%;*/
  padding-bottom: 30px;
  background-color: #dddddd;
  border-top-width:  2px;
  border-color: #1f1f1f;
}

.panel-footer div.row {
  margin-bottom: 35px;
  
}
#hours, #address, #contact{
  line-height: 2;
}
#address p, #hours p, #contact p {
  color: #000000;
  font-size: 1.3em;
  line-height: 1.0;

}
#address, #hours , #contact {
  text-align: center;
}

