
/*Footer*/
.panel-footer {
  padding-top: 15px;
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #dddddd;
  border-top-width:  2px;
  border-color: #1f1f1f;
}
.panel-footer div.row {
  margin-bottom: 35px;
  
}
#hours, #address, #contact{
  line-height: 2;
}

#address p, #hours p, #contact p {
  color: #000000;
  font-size: 1.3em;
  line-height: 1.0;
}

/*#hours p  {
  color: #000000;
  font-size: 1.3em;
  line-height: 1.0;
}*/